.popupParent {
  position: fixed;
  z-index: 98;
  top: 50%;
  right: -66px;
}

.quote-button {
  padding: 8px 20px;
  font-size: 15px;
  cursor: pointer;
  transform: rotate(-90deg);
  background: linear-gradient(86.79deg, #426BA4 22%, #EF7F1B 68.32%);
  color: white;
  outline: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-form {
  background: #304D75;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.24) 15.93%, rgba(0, 0, 0, 0.00) 87.44%);
  padding: 40px;
  width: 50vw;
  max-width: 90%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  color: white;

}

.popup-form h2 {
  margin-top: 0;
}


.popup-form .messageofSuccess {
  text-align: center;
  margin-top: 50px;
}


.popup-form label {
  display: block;
}

.inputDiv {
  /* background-color: red; */
  margin-bottom: 16px;
  margin-top: 30px;
}

.popup-form input,
.popup-form textarea {
  width: 100%;
  font-family: "Saira", sans-serif;
  font-size: 16px;
  line-height: 10px;
  letter-spacing: 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 6px 0px 6px 0px;
  color: #fff !important;
}

.submit-button {
  padding: 8px 16px;
  cursor: pointer;
  /* background: linear-gradient(86.79deg, #426BA4 22%, #EF7F1B 68.32%); */
  color: white;
  margin-top: 50px;
}

.close-button {
  position: absolute;
  top: 27px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: white;

}


.popup-form form .form-select {
  background-color: transparent;
  border-bottom: 1px solid #fff !important;
  border: 0px;
  height: 50px;
  border-radius: 0px;
  font-weight: 400;
  width: 100%;
  margin: 15px 0;
  color: #fff;
  font-size: 14px;
  font-family: "Saira", sans-serif;
}


.popup-form form option {
  background-color: #304D75;
  color: white;
}







/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

  .popupParent {
    z-index: 15;
  }

  .popup-form {
    width: 75vw;
    height: 490px;
    padding: 15px
  }

  .inputDiv {
    margin-bottom: 0;
    margin-top: 16px;
  }

  .submit-button {
    margin-top: 15px;
  }

  .popup-form input,
  .popup-form textarea {
    font-size: 13px;
    line-height: 9px;
    padding: 4px 0px;
  }

  .popup-form form .form-select {
    margin: 0;
    font-size: 13px;
  }

}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .popup-form {
    padding: 20px;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .popup-form {
    width: 64vw;
  }

  .popupParent {
    z-index: 15;
  }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .popupParent {
    z-index: 15;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Ultra large devices (4K screens, 1400px and up) */
@media (min-width: 1400px) {
  .popup-form {
    width: 700px;
  }
}

/* Popup Button position for Mobile and Tab */
@media (max-width: 1024px) {
  .popupParent {
    z-index: 15;
    right: -68px;
  }
}
