.sectorSolution-sec {
    background-color: #E8E8E8 !important;
    background-image:none;
}

.solution-clm h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #EF7F1B;
    text-transform: uppercase;
}

.sectorSolution-sec .built-row {
    align-items: flex-start;
}

.solution-clm p {
    border-bottom: 1px solid #9E9E9E;
    padding-bottom: 20px;
}


.tech-driven-numbrs1 p {
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.solution-clm p {
    color: #213547;
}

#inner-spot-clm-1 {
    width: 43%;
}

#inner-spot-clm-1 h1 {
    font-size: 46px;
    line-height: 57px;
}


@media screen and (min-width:320px) and (max-width:767px) {   
    .solution-clm {
        padding-top: 20px;
    } 
    .tech-driven-numbrs1 p {
        font-size: 20px;
        line-height: 28px;
    }
    .tech-driven-numbrs1 {
        padding-bottom: 50px !important;
    }
}
