body {
  display: block;
  overflow-x: hidden;
  background-color: #fff;
}

/* blog inside css */
.blg_back_btn:hover {
  color: #929292;
}

.blg-cntnt p {
  color: #929292;
  margin-top: 0px;
  margin-bottom: 25px;
}

.blg-cntnt .blodHead {
  color: #000;
  font-weight: 600;
}

.blg-cntnt h3 {
  color: #000;
  font-size: 26px !important;
  line-height: 32px !important;
}

.blg-cntnt h4 {
  color: #304d75;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 32px !important;
  margin-top: 15px;
  margin-bottom: 10px;
}

.blg-cntnt h5 {
  color: #304d75;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 32px !important;
  margin-top: 15px;
  margin-bottom: 10px;
}

.blg-cntnt a {
  color: #929292;
  font-weight: 400;
  border-bottom: 1px solid #fc7b12;
}

p.last-para {
  margin-top: 20px;
}

.blg-cntnt ul li {
  font-family: "Saira", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  padding: 10px 0px;
  color: #929292;
  margin-left: 35px;
  display: block !important;
}

.blg-cntnt ul li span {
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 767px) {
  .blg-cntnt h3 {
    color: #000;
    font-size: 22px !important;
    line-height: 26px !important;
  }

  .blg-cntnt h4 {
    font-size: 19px !important;
    line-height: 25px !important;
  }

  /* .blog-archive-sec.section-padd-LR {
  height: 1100px !important;
}    */
  .blogInside-spotlgtSec .main-container {
    padding: 80px 0px 0px 0px !important;
  }

  .featureImg-inside {
    height: 250px !important;
  }

  .featureImg {
    height: 250px !important;
  }
}

@media (min-width:768px) and (max-width: 1024px) {
  .featureImg-inside {
    height: 350px !important;
  }

  .featureImg {
    height: 250px !important;
  }

  .blogInside-spotlgtSec .main-container {
    padding: 80px 0px 0px 0px !important;
  }

  .featur-img {
    height: 285px !important;
  }
}

.featur-img {
  margin-top: 20px;
  width: 100%;
  height: 312px;
}

.featureImg {
  height: 312px !important;

}

.swiper-wrapper .blog-bx {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  height: 485px;
}



/* html {
  scroll-behavior: smooth;
} */

.clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#root {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

@media screen and (max-width:1024px) {
  #root {
    overflow-x: hidden;
  }
}

:focus-visible {
  outline: 0px !important;
}

.txt-center {
  text-align: center;
}

.hide {
  display: none;
}

.overflow {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: "Saira", sans-serif;
  letter-spacing: 0px;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  /* 112.5% */
  letter-spacing: -0.8px;
}

h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1px;
}

h3 {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1px;
}

h4 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 20px;
}

h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
}

.ttl-60px {
  font-family: "Saira", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: -1.2px;
}

.ttl-45px {
  font-size: 45px;
  line-height: 56px;
}

.ttl-25px {
  font-size: 25px;
  line-height: 32px;
}

.bold {
  font-weight: 700;
}

p {
  font-family: "Saira", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.normalidad-wide {
  font-family: "normalidad-wide", sans-serif;
}

button,
.btn {
  font-family: "normalidad-wide", sans-serif;
  ;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 11px;
  border-radius: 33px;
  border: 1px solid #929292;
  background: #fff0;
  /* height: 40px; */
  width: fit-content;
  padding: 11px 20px 8px 20px;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

li {
  font-family: "Saira", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 0px;
}

li:before {
  content: '';
  position: absolute;
  left: -40px;
  background-image: url(/src/assets/img/home_img/orange_Arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 20px;
}

li:after {
  content: '';
  position: absolute;
  background-image: url(/src/assets/img/home_img/li_Line.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1000px;
  height: 5px;
  bottom: 0;
  left: -40px;
  margin: 0;
}

.text-decoration {
  text-decoration-line: underline;
}

.cursor {
  cursor: pointer;
}

.center {
  text-align: center;
}

.margin-o {
  margin: 0px !important;
}

.mrgin-btm-o {
  margin-bottom: 0px;
}

.cta-sec {
  background-color: #E8E8E8 !important;
}

@media screen and (min-width:768px) and (max-width:1024px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
  }

  h3 {
    font-size: 33px;
    line-height: 40px;
  }

  h4 {
    font-size: 28px;
    line-height: 35px;
  }

  h5 {
    font-size: 25px;
    line-height: 30px;
  }

  h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .ttl-60px {
    font-size: 45px;
    line-height: 52px;
  }

  .ttl-45px {
    font-size: 35px;
    line-height: 40px;
  }

  li {
    font-size: 24px;
    line-height: 30px;
  }

}

@media screen and (min-width:320px) and (max-width:767px) {

  h1 {
    font-size: 25px;
    line-height: 30px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 23px;
    line-height: 30px;
  }

  h4 {
    font-size: 20px;
    line-height: 25px;
  }

  h5 {
    font-size: 18px;
    line-height: 24px;
  }

  h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .ttl-60px {
    font-size: 35px;
    line-height: 42px;
  }

  .ttl-45px {
    font-size: 30px;
    line-height: 35px;
  }

  .ttl-25px {
    font-size: 20px;
    line-height: 27px;
  }

  li {
    font-size: 20px;
    line-height: 25px;
  }

  .mob-mrgin-o {
    margin: 0px;
  }

  .mob-mrgin-btm-o {
    margin-bottom: 0px;
  }

}

/*Color css ---------------------------------------------------- ---------------------------------------------------------------------------*/

.black {
  color: #0A0A0A;
}

.blue {
  color: #304D75;
}

.grey {
  color: #929292;
}

.light-grey {
  color: #DDDDDD;
}

.white {
  color: #fff;
}

.white-60 {
  color: #FFFFFF99;
}

.orange {
  color: #EF7F1B !important;
}

.grey-bg {
  background-color: #E8E8E8;
}



#light-blue-bg {
  background-image: linear-gradient(90deg, rgba(0, 20, 71, 0.39) 15.93%, rgba(0, 20, 71, 0.00) 87.44%) !important;
  background-color: #4198D5 !important;
}

#brown-bg {
  background-color: #EF7F1B !important;
  background-image: linear-gradient(90deg, rgba(0, 20, 71, 0.39) 15.93%, rgba(0, 20, 71, 0) 87.44%) !important;

}

a:hover {
  color: inherit;
}

.inner-spt-btn:hover {
  color: #fff !important;
}



/* layout css --------------------------------------------------------------------- ----------------------------------------------------*/


.section-padd-LR {
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .section-padd-LR {
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-container {
    padding: 60px 0px !important;
  }
}

@media screen and (min-width:320px) and (max-width:767px) {
  .section-padd-LR {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-container {
    padding: 50px 0px !important;
  }
}

.section {
  display: flex;
}

.flex {
  display: flex;
}

.main-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 80px 0px;
}

.width-1100 {
  max-width: 1100px;
  width: 100%;
}

.width-1150 {
  max-width: 1150px;
  width: 100%;
}

.width-1200 {
  max-width: 1250px;
  width: 100%;
}

.width-1250 {
  max-width: 1250px;
  width: 100%;
}

.width-1440 {
  max-width: 1440px;
  width: 100%;
}

.clm-2 {
  width: 50%;
  display: inline-block;
  text-align: left;
}

.width-100 {
  width: 100%
}

.width-90 {
  width: 90%
}

.width-80 {
  width: 80%
}

.width-70 {
  width: 70%
}

.width-60 {
  width: 60%
}

.width-50 {
  width: 50%
}

.width-40 {
  width: 40%
}

.width-30 {
  width: 30%
}

.width-20 {
  width: 20%
}

.width-10 {
  width: 10%
}

.paddng-top {
  padding-top: 50px;
}


@media screen and (min-width: 320px) and (max-width: 767px) {

  .clm-2,
  .width-30,
  .width-40,
  .width-60,
  .width-70 {
    width: 100% !important;
  }

}


/* Footer Csss ------------------------------------------------------------------------------ ----------------------------------------------------*/

.footr-clm1 {
  width: 30% !important;
  border-radius: 0px 0px 20px 20px;
  /* background: linear-gradient(86.79deg, #1788D6 22%, #E48A36 68.32%); */
  background: linear-gradient(86.79deg, #426BA4 22%, #EF7F1B 68.32%);
  padding: 45px;
}

.footr-clm2 {
  width: 70% !important;
  padding-left: 62px;
  padding-top: 66px;
}

input#email,
input#email_fld_subs {
  border-radius: 12px;
  border: 1px solid #FFF !important;
  width: -webkit-fill-available;
  font-family: "Saira", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 15px !important;
  background: #fff0;
  padding: 15px 20px;
}

input#email::placeholder,
#email_fld_subs::placeholder {
  color: rgba(255, 255, 255, 0.50) !important;
  font-family: "Saira", sans-serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 30px !important;
  /* 187.5% */
  opacity: 1 !important;
}

.submit-btn,
#susbs-btn {
  border-radius: 12px !important;
  background: #FFF !important;
  width: 100% !important;
  justify-content: center !important;
  font-family: "Saira", sans-serif !important;
  text-transform: capitalize !important;
  padding: 15px 20px !important;
  color: #000 !important;
  margin-top: 0px !important;
  font-weight: 500;
  letter-spacing: 0px;
}

#susbs-btn {
  font-weight: 600;
}


p#thnk_box_subs {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

.foo-contanr {
  padding-top: 0px !important;
  padding-bottom: 50px !important;
}


.footer-sec {
  background: #304D75;
  overflow: hidden;
  /* margin-bottom: 143px; */
  z-index: 8;
  position: relative;
}

.foo-links a {
  color: #DDD;
  font-family: "Saira", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.foo-links {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.foo-innr-container p {
  color: #9E9E9E;
  font-family: "Saira", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* text-transform: uppercase; */
  /* width: 240px; */
}

.foo-email {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}


.foo-addrss {
  width: 220px;
  margin-top: 10px;
}

.foo-phone {
  margin-top: 20px;
}

p.site-credit {
  font-size: 13px !important;
  margin-bottom: 0;
  margin-top: 35px;
}

.clm-2.footr-clm2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.foo-bottom-links a {
  font-size: 13px !important;
}

.foo-bottom-links {
  margin-top: 45px;
  display: flex;
  gap: 30px;
}

.foo-innr-container {
  display: flex;
  align-items: flex-start;
}

.foo-innr-clm2 {
  height: 100%;
  position: relative;
}

.foo-innr-clm2 a {
  color: #9E9E9E;
  font-family: "Saira", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 136.364% */
}

/* .clm-2.foo-innr-clm1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
} */

.bottom-footer-sec {
  overflow: hidden;
}

.bottom-footer-sec .main-container {
  background-color: #000;
  max-width: 100%;
  width: 100%;
  padding: 46px 0px 40px 0px;
}

.bottom-footer-sec h2 {
  color: #5A5A5A;
  font-family: "Saira", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 300;
  line-height: 57px;
  letter-spacing: -0.975px;
}

.footr-clm1 h2 {
  color: #FFF;
  font-family: "Saira", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 49px;
  letter-spacing: -1px;
  margin-top: 10px;
}

.footr-clm1 p {
  font-size: 13px;
  line-height: 19px;
  margin-top: 10px;
}

.global-cta img {
  border-radius: 35px;
}

.subscribe-txt .line:first-child .word {
  animation-delay: .2s !important;
}

.ph-numbr {
  color: #9E9E9E;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.ph-numbr:hover {
  color: #9E9E9E;
}

.follow-ttl {
  margin-top: 30px;
}

.footr-clm2 a:hover {
  color: #EF7F1B;
}

@media screen and (min-width: 1024px) {
  .foo-bottom-links {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .foo-email {
    font-size: 20px !important;
  }
}


@media screen and (min-width: 320px) and (max-width: 1024px) {
  .footr-clm1 h2 {
    font-size: 35px;
    line-height: 36px;
  }

  .bottom-footer-sec h2 {
    font-size: 55px;
  }

  h6.phone {
    margin-top: 20px;
  }

  .foo-innr-container p {
    width: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footr-clm2 {
    width: 85% !important;
    padding-left: 30px;
  }

  .foo-links {
    gap: 20px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footr-clm1 {
    width: 25% !important;
    padding: 20px;
  }

  .footr-clm2 {
    padding-top: 30px;
  }

  .foo-links {
    gap: 10px;
  }

  .foo-innr-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .foo-links {
    margin-bottom: 16px;
  }

  .foo-bottom-links {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .bottom-footer-sec h2 {
    font-size: 35px;
  }

  .width-60.foo-innr-clm1,
  .width-40.foo-innr-clm2 {
    width: 100%;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .foo-contanr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
  }

  .foo-contanr .clm-2 {
    width: auto !important;
  }

  .footr-clm1 {
    padding: 20px;
  }

  .clm-2.footr-clm2 {
    padding: 0;
  }

  .foo-links {
    display: flex;
    row-gap: 0px;
    column-gap: 15px;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 25px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .bottom-footer-sec h2 {
    font-size: 30px;
  }

  .foo-bottom-links {
    margin-top: 10px;
  }

  .foo-contanr {
    padding-bottom: 40px !important;
  }

  .foo-innr-clm2 {
    padding-top: 20px !important;
  }

  .foo-innr-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
  }

  .footer-sec {
    z-index: 8;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .bottom-footer-sec .main-container {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .width-60.foo-innr-clm1,
  .width-40.foo-innr-clm2 {
    width: 50%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footr-clm1 h2 {
    font-size: 25px;
    line-height: 29px;
  }

  .foo-innr-container .clm-2 {
    width: 100%;
  }

  p.site-credit {
    font-size: 13px !important;
    margin-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .bottom-footer-sec .main-container {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media screen and (min-width:320px) and (max-width:1023px) {
  .credit-desk {
    display: none !important;
  }
}

@media screen and (min-width:1024px) {
  .credit-mob {
    display: none !important;
  }
}







/* ---------------------------------- Smooth scroll -------------------------------------*/

/* .viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */


/* Text Reveal Animtion Css bottom to top */


.js-split-text {
  opacity: 0;
  overflow: hidden;
  padding-bottom: 4px;
}

.line .word {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  animation: slide-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* .line .word:nth-child(1) {
  animation-delay: .3s !important;
}

.line .word:nth-child(2) {
  animation-delay: .3s !important;
}

.line .word:nth-child(3) {
  animation-delay: .4s !important;
}

.line .word:nth-child(4) {
  animation-delay: .5s !important;
}

.line .word:nth-child(5) {
  animation-delay: .6s !important;
}

.line .word:nth-child(6) {
  animation-delay: .7s !important;
}

.line .word:nth-child(7) {
  animation-delay: .8s !important;
}

.line .word:nth-child(8) {
  animation-delay: .9s !important;
} */

/* .line .word:last-child {
  animation-delay: .6s;
} */


.line:nth-child(2) {
  animation-delay: .3s !important;
}

.line:nth-child(3) {
  animation-delay: .4s !important;
}

.delay-3s .word {
  animation-delay: .3s !important;
}

.delay-4s .word {
  animation-delay: .4s !important;
}

.delay-5s .word {
  animation-delay: .5s !important;
}

.delay-6s .word {
  animation-delay: .6s !important;
}

.delay-7s .word {
  animation-delay: .7s !important;
}

.delay-8s .word {
  animation-delay: .8s !important;
}

.delay-9s .word {
  animation-delay: .9s !important;
}

.delay-10s .word {
  animation-delay: 1s !important;
}


@keyframes fade-in-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.B-padding-o {
  padding-bottom: 0px !important;
}

/* ENd Text Reveal Animtion Css bottom to top */


/* .lToR {
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  transition: all 1s ease-in-out;
}

.lToR-Anim {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
} */


.inner-cta-sec .client-contnt-bx {
  width: 61%;
}


/* * Home Form Popup CSS START HERE */

.carrer_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(49, 61, 71, 0.8);
  z-index: 99;
  display: none;
  background-color: #304D75;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.24) 15.93%, rgba(0, 0, 0, 0.00) 87.44%);
  /* background-color: #4198D5 !important; */
  /* background: linear-gradient(90deg, rgba(0, 20, 71, 0.39) 15.93%, rgba(0, 20, 71, 0) 87.44%);*/
}

.career_popup_box {
  position: fixed;
  width: 40%;
  top: 15%;
  left: 50%;
  transform: translateX(-50%) !important;
  display: none;
  z-index: 99;
  padding: 60px;
  box-sizing: border-box;
  border: 1px solid #fff;
}

img.career_cls_btn {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.caeer_inner_dv {
  float: left;
  width: 100%;
}

.career_hd {
  font-family: "Saira", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 50px;
}

.career_popup_box .conv_frm_spc {
  padding-right: 0px;
}

.txt_wht.white {
  color: #fff !important;
}

.linkdn img:hover {
  filter: invert(63%) sepia(34%) saturate(6173%) hue-rotate(349deg) brightness(100%) contrast(92%);
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .career_popup_box {
    height: 500px !important;
    overflow: auto !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .career_popup_box {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {

  .career_popup_box {
    width: 90%;
    top: 10%;
    left: 50%;
    transform: translateX(0%);
    padding: 30px;
    height: 70vh;
    overflow: auto;
  }

  .inner-cta-sec .client-contnt-bx {
    width: 90%;
  }

}

/* Home Form Popup CSS END HERE */


/* Slider arrow buttom css ---------------------------------------------------------------------------------------------------------------------------------- */

.swiper-button-disabled {
  opacity: 0.5;
}


/* Hover buttom css ---------------------------------------------------------------------------------------------------------------------------------- */

#btn-styl,
.conv_btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: relative;
  overflow: hidden;
}

#btn-styl:before,
.conv_btn:before {
  /* background: var(--Gradient-New, linear-gradient(87deg, #1788D6 10.86%, #E48A36 94.84%)); */
  background: linear-gradient(87deg, #426BA4 10.86%, #EF7F1B 94.84%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  width: 100%;
}

#btn-styl:hover:before,
.conv_btn:hover:before {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

#btn-styl:hover {
  color: #fff;
}

.btn_name {
  z-index: 9;
  position: relative;
}

#btn-styl:hover img {
  z-index: 1;
}



.blg-cntnt p br+a {
  padding-top: 7px;
  margin-bottom: 10px;
  display: inline-block;
  /* line-height: 20px; */
}