:root {
  font-family:"Saira", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.client-btn {
  cursor: pointer;
}

/* Font-family Tablet Gothic Wide --------------------------------------------------------------------------------------------------------------- */


@font-face {
  font-family: "tablet-gothic-wide", sans-serif;
  src: local('TabletGothicWideTh'), url(./font/TabletGothicWideTh.woff) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: "tablet-gothic-wide", sans-serif;
  src: local('TabletGothicWideLt'), url(./font/TabletGothicWideLt.woff) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: "tablet-gothic-wide", sans-serif;
  src: local('TabletGothicWideSb'), url(./font/TabletGothicWideSb.woff) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: "tablet-gothic-wide", sans-serif;
  src: local('TabletGothicWide-Bold'), url(./font/TabletGothicWide-Bold.woff) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: "tablet-gothic-wide", sans-serif;
  src: local('TabletGothicWideEb'), url(./font/TabletGothicWideEb.woff) format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: "tablet-gothic-wide", sans-serif;
  src: local('TabletGothicWideHv'), url(./font/TabletGothicWideHv.woff) format('opentype');
  font-weight: 900;
}

/* Font-family Normalidad --------------------------------------------------------------------------------------------------------------- */

@font-face {
  font-family: "normalidad-wide", sans-serif;
  src: local('NormalidadCompact-Thin'), url(./font/NormalidadCompact-Thin.woff) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: "normalidad-wide", sans-serif;
  src: local('NormalidadCompact-Light'), url(./font/NormalidadCompact-Light.woff) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: "normalidad-wide", sans-serif;
  src: local('NormalidadCompact-Regular'), url(./font/NormalidadCompact-Regular.woff) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: "normalidad-wide", sans-serif;
  src: local('NormalidadCompact-Medium'), url(./font/NormalidadCompact-Medium.woff) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: "normalidad-wide", sans-serif;
  src: local('NormalidadCompact-Bold'), url(./font/NormalidadCompact-Bold.woff) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: "normalidad-wide", sans-serif;
  src: local('NormalidadCompact-Black'), url(./font/NormalidadCompact-Black.woff) format('opentype');
  font-weight: 900;
}


.back-to-top {
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  z-index: 999;
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #14325B;
  border-radius: 100%;
  /* box-shadow: 0 0 4px 1px #bfbebefc; */
}

.icon__arrow-up {
    fill: #EF7F1B;
    width: 25px;
    height: 25px;
  }