
.navbar-nav {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 49px;
}

.navbar-nav li:before, .navbar-nav li:after {
    display: none;
}

.desk_menu_row {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.main-container.no-padding {
    padding: 30px 0px 40px 0px;
}

.header_sec {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sctr-menu .row_border {
    gap: 110px;
}


.hdr_container {
    max-width: 100%;
    width:100%;
    margin: auto;
    /* padding:0 40px; */
    height:100px;
    transition: all ease-in-out 0.5s;
}


@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}



.cls_header_bg {
    background-color:transparent;
    height:180px;
}

.show_header_bg1 {
    /* background-color:#0f0f73 !important; */
    background-color:#14325B !important;
    height:440px;
    transition: all .7s cubic-bezier(.19,1,.22,1);
}

.show_header_bg2 {
    /* background-color:#0f0f73 !important; */
    background-color:#14325B !important;
    height: 440px;
    transition: all .7s cubic-bezier(.19,1,.22,1);
}
.dropdown {
    transition: all .7s cubic-bezier(.19,1,.22,1);
}
.dropdown a.dropdown-toggle.nav-link {
    padding-left:2px ;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    transition:all 0.5s;
}
.open_megamenu{
    visibility: visible !important;
    opacity: 1 !important;
}

.over_flow {
    overflow: hidden;
}
.megamenu {    
    display: block;
    visibility: hidden;
    opacity:0;
    transition: all 0.5s;
    /* transition: all .7s cubic-bezier(.19,1,.22,1); */
    background-color: #0000;
    border-radius: 0;
    margin-left: -1px;
    padding:20px 0px !important;
    /* top: -10% !important; */
}
.megamenu li{
    padding: 0px;
    /* height: 30px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
} 
.col-megamenu h5.top_spc {
    margin-top: 30px !important;
}
.col-megamenu h5 {    
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color:#A8AAF4;
    padding-bottom: 10px;
    width:fit-content;
    margin: 30px 0px 0px 0!important;
    border-bottom: 1px solid #46488A;
}
.megamenu a {
    font-weight:300 !important;
    text-decoration: none;
    /* text-transform: capitalize !important; */
}
.megamenu a:hover {
    color:#F47920 !important;
}
#main_nav{
    display: block !important;
}
.navbar-nav li.menu_link {
    transition: all 0.5s;
    position: relative;
}

li.menu_link a{
    font-family: "Saira", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: .8px;
    /* text-transform: capitalize; */
    position: relative;
    cursor: pointer;
}

li.menu_link a:hover{
    color: #EF7F1B !important;
}

.chnag-color{
    color: #EF7F1B !important;
}



.navbar-nav li.menu_link:hover a.nav-link::before {
    transform: scale(1);
    transform-origin: left center;
}
.navbar-nav li.menu_link a.nav-link::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #Fff;
    top: -1px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .55s cubic-bezier(.33,0,.24,1);
}
.dropdown a::after {
    position:absolute;
    right: 2px;
    top: 12px;
    background-image:url('../img/svg/dropdown_arrow.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    width: 29px;
    height: 29px;
    border: 0px;
    transition: all 0.5s;
}

.mega_link {
    font-weight: 400 !important;
    font-size: 15px !important;
    background-color: transparent;
    border: 0px;
    color: #fff;
    letter-spacing: 0.5px;
}
.row_border{
    border-top: 1px solid #46488A;
    padding-top: 10px;
    margin-top: 27px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.menu_animate_box{
    transition: 1.5s cubic-bezier(.19,1,.22,1) ;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    opacity: 0;
    -webkit-transform: translateY(2.2rem);
    transform: translateY(2.2rem);
}
.animi_bx1 {
    transition-delay: .25s;
}
.animi_bx2 {
    transition-delay: .35s;
}
.animi_bx3 {
    transition-delay: .45s;
}
.animi_bx4 {
    transition-delay: .55s;
}
.submenu_animation{
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.navbar .megamenu{ 
    padding: 1rem; 
}


ul.list-unstyled {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
}

ul.list-unstyled a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #E9E9E9 !important;
}

.navbar .has-megamenu{
    position:static!important;
}
.navbar .megamenu {
        left: 50%;
        transform: translate(-50%, 54%);
        right: 0;
        width: 1250px;
        margin-top: 0;
        position: absolute;
}

/* .srvc-lnk, .sctr-lnk {
  pointer-events: none;
} */


/* ============ desktop view .end// ============ */


/* .contact_link a.nav-link {
    padding-top: 15px;
} */


@media only screen and (min-device-width: 1200px) and (max-device-width: 1369px) {
    
    .header_top_bar {
        padding-bottom: 7px;
        padding-top: 20px;
    }
}


@media screen and (max-width:1024px) {
    .header_sec {
        display: none;
    }
}


/* Header Csss ---------------------------------------------------------------------------------------------------------------------------------- */

.mob-menu {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  
  .hdr-scroll {
    background-color: #304D75;
  }
  
  .hdr-sec {
    z-index: 9;
    position: relative;
    /* overflow: hidden; */
  }
  
  .hdr-clm1 img, .mob-clm1 img {
      width: 227px;
      height: 100%;
      max-width: 100%;
  }
  
  .hdr-sec:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    left: 0;
    background-color: #0F0F73;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.24) 15.93%, rgba(0, 0, 0, 0) 87.44%);
    transition: all .5s ease;
  }
  
  .head-container {
    padding: 35px 40px 40px 40px;
  }
  
  .head-links {
    display: flex;
    gap: 49px;
  }
  
  .hdr-clm1 {
    width: 25% !important;
    justify-content: flex-start !important;
  }
  .hdr-clm2 {
    width: 75% !important;
  }
  
  .hdr-sec .clm-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }
  
  .head-links a {
    color: #FFF;
    font-family: "Saira", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    letter-spacing: 0px;
    text-transform: capitalize;
    position: relative;
  }
  
  .head-links a:after {
    position: absolute;
    bottom: -2px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .4s ease;
    right: 0;
    left: initial;
  }
  .head-links a:hover::after {
    width: 100%;
    right: initial;
    left: 0;
  }
  
  .list-one, .list-two, .list-three {
    opacity: 0;
    transform: translateY(10px);
    transition: all .5s ease;
  }
  
  .hdr-animte {
    opacity: 1;
    transform:none;
    transition: all .5s ease;
  }
  
  /* Sub menu Style */
  
  ul.sub-menu li:before, ul.sub-menu li:after {
    display: none;
  }
  
  ul.sub-menu {
    display: none;
    opacity: 0;
    color: #fff;
    position: absolute;
    padding: 110px 0px;
    width: 94%;
    left: 3%;
    transition: all .5s ease;
  }
  
  ul.sub-menu-innr-ul {
    padding-top: 20px;
  }
  
  ul.sub-menu-innr-ul a, .sector-sub-menu a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: rgb(255 255 255 / 80%) !important;
  }
  
  .has-sub-menu:hover .sub-menu {
    display: block;
    opacity: 1;
  }
  
  .sector-sub-menu .sub-menu-innr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  ul.sub-menu li {
    font-size: 18px;
    line-height: 25px;
    padding: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .desk-hdr-sec.hovered:before {
    height: 420px;
  }
  
  /* .desk-hdr-sec.hovered .servc-lnk {
    border-bottom: 2px solid #fff;
  } */
  
  .menu-active {
    border-bottom: 2px solid #fff;
  }
  
  .sub-menu-innr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin: auto;
  }
  
  
  ul.sub-menu:before {
    content: '';
    position: absolute;
    top: 61px;
    left: 0;
    border: 1px solid #ffffffb5;
    width: 100%;
  }


  li.has-sub-children a {
    font-size: 16px !important;
    line-height: 22px !important;
    width: 95%;
    display: block;
}
  
  @media screen and (min-width:1200px) and (max-width:1280px){
    .hdr-clm1 {
        padding-left: 20px;
    }
    .hdr-clm2 {
        padding-right: 20px;
    }
  }
  
  
  
  @media screen and (min-width:1025px) {
    .mob-menu {
      display: none;
    }
  }
  
  @media screen and (min-width:320px) and (max-width:1024px) {
    .desktop-menu {
      display: none;
    }
    .hdr-sec {
      overflow: visible;
    }
    .hdr-sec .main-container {
      padding: 15px 25px 13px 25px !important;
    }
    .hdr-sec .clm-2 {
      justify-content: flex-start;
    }
  }
  
  @media screen and (max-width:767px) {
    .mob-clm1 img {
      width: 90%;
    }
    .hdr-sec .main-container {
      padding: 15px 20px 13px 20px !important;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:1024px) {
    .hdr-clm1 img, .mob-clm1 img {
      width: 70%;
  }
  .slider-sec .main-container {
    gap: 20px !important;
  }
  .thumbSlider {
    width: 50%;
  }
  }
  
  /* Mobile menu Css */
  
  #menuToggle input:checked ~ ul {
    transform: translate(-72%, 0) !important;
  }
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: auto;
    left: auto;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 80vw;
    height: 100vh;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px 50px 50px 25px;
    padding-top: 125px;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    overflow: scroll;
  }
  
  #menu li:before, #menu li:after {
    display:none;
  }
  
  #menu li
  {
    padding: 15px 0;
    border-bottom: 1px solid #E8E8E8;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: translate(-75%, 0);
  }
  
  .mob-clm2 {
    justify-content: flex-end !important;
  }
  
  .children, .sub-children {
      display:none;	
      padding-left: 12px;
  }
  
  li.has-children, .has-sub-children {
    display: block;
  }
  
  ul#menu a {
    color: #0A0A0A;
    font-size: 18px;
    line-height: 26px;
  }
    
  ul.children li:last-child {
    border: 0px !important;
  }
  /* .icon-arrow.open {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg); 
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s; 		
  } */
  
  img.icon-arrow, img.sub-icon-arrow {
    float: right;
    margin-top: 10px;
    width: 15px;
    transition: transform .5s ease;
  }

  img.icon-arrow.open, img.sub-icon-arrow.open {
    transform: rotate(180deg);
  }
  
  @media screen and (min-width:768px) and (max-width:1024px) {
    #menu {
      width: 90vw;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:1023px) {
    #menuToggle input:checked ~ ul {
      transform: translate(-83%, 0) !important;
  }
  }
  
  @media screen and (min-width:1024px) and (max-width:1100px) {
    #menuToggle input:checked ~ ul {
      transform: translate(-88%, 0) !important;
  }
  }

  @media screen and (min-width:320px) and (max-width: 359px) {
    #menuToggle input:checked ~ ul {
        transform: translate(-65%, 0) !important;
    }
  }

  